#modo{
    width: 70px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}

.dark{
    background: #101820;
}

.dark .titulo-servicios{
    color: white;
}

.dark section.servicios{
    background-color: #101820;
}

.dark .navbar{
    background-color: #121212;
}

.dark h3{
    color: rgb(230, 230, 230);
}
.dark p{
    color: rgb(209, 206, 206);
}

.dark footer{
    background-color: #121212;
}

.dark .texto-footer{
    background-color: #121212;
}

.dark #modo svg{
color: rgb(221, 221, 221);
}

.dark .mapa{
    background: #101820;
}

.dark .formulario-contenedor{
    background: #101820;
}


.dark main{
    background: #101820;
}

.dark .nosotross{
    color: rgb(230, 230, 230)
}

.dark .nombre-denis{
    color: rgb(230, 230, 230);
}

.dark h2{
    color: rgb(221, 221, 221);
}

@media (max-width : 600px){
    header{justify-content: space-between; align-items: center;}
}

.moon-stars-fill path{
    color: #101820 !important;
}

.lunita{
    width: 13px;
}